<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title style="color: #B0903E;">Gian hàng</mat-card-title>
          <div class="m-l-auto">
            <input #fileUploader accept="image/*" type="file" name="" id="" style="display: none;" (change)="uploadImage($event)">
            
            <i class="pi pi-pen-to-square" *ngIf="isPermissionEdit" style="color: #B0903E; padding: 0 5px; cursor: pointer;" (click)="triggerFileUpload()"></i>
            <i class="pi pi-trash" *ngIf="isPermissionDelete" style="color: red; padding: 0 5px;cursor: pointer;" (click)="deleteFileImage('image_main.png')"></i>
          </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: end;">
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image" style="max-width: 100%; max-height: 400px;" />
        </div>
        <!-- Banner -->
        <div class="d-flex w-100">
          <div class="m-l-auto">
            <input #fileBannerUploader accept="image/*" type="file" name="" id="" style="display: none;" (change)="uploadImageBanner($event)">
            
            <i class="pi pi-pen-to-square" *ngIf="isPermissionEdit" style="color: #B0903E; padding: 0 5px; cursor: pointer;" (click)="triggerFileBannerUpload()"></i>
            <i class="pi pi-trash" *ngIf="isPermissionDelete" style="color: red; padding: 0 5px;cursor: pointer;" (click)="deleteFileImage('image_banner.png')"></i>
          </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: end;">
          <img *ngIf="imageBannerUrl" [src]="imageBannerUrl" alt="Uploaded Image" style="max-width: 100%; max-height: 400px;" />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <div class="m-l-auto">
            <p-button *ngIf="isPermissionAdd" label="Thêm mới" icon="pi pi-plus" styleClass="m-0" [outlined]="true" (onClick)="showDialogAdd()" />
          </div>
        </div>
        <div  *ngFor="let item of boothList" class="d-flex" style="align-items: center; padding: 0 48px; margin: 10px 0px; border: 1px solid #8B760A; border-radius: 10px;">
          <div class="img">
            <img *ngIf="item.image" [src]="item.image" [alt]="item.title" style="max-width: 100%; max-height: 100px;" />
          </div>
          <div class="content p-24">
            <h5 style="color: #B0903E;">{{item.title}}</h5>
            <p>{{item.description}}</p>
            <p>Liên hệ: {{item.contact}} </p>
          </div>
          <div class="action" style="margin-left: auto;">
            <i class="pi pi-pen-to-square" *ngIf="isPermissionEdit" style="color: #B0903E; padding: 0 5px; cursor: pointer;" (click)="showDialogEdit(item)" ></i>
            <i class="pi pi-trash" *ngIf="isPermissionDelete" style="color: red; padding: 0 5px;cursor: pointer;" (click)="onDelete(item)" ></i>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<p-dialog 
  header="Header" 
  [(visible)]="visible" 
  [modal]="true" >
    <ng-template pTemplate="header">
        <h3>Thêm sản phẩm</h3>
    </ng-template>
    <div class="row" style="margin: 10px 0;">
      <div class="d-flex w-100" style="flex-direction: column;">
        <label for="parentId" class="font-semibold">
          Chọn ảnh
        </label>
        <input accept="image/*" type="file" name="" id="" (change)="uploadImageProduct($event)">
      </div>
    </div>
    <div class="row" style="margin: 10px 0;">
      <div class="d-flex w-100" style="flex-direction: column;">
        <label for="name" class="font-semibold">
          Tên sản phẩm
        </label>
        <input pInputText [(ngModel)]="name" id="name" class="flex-auto" autocomplete="off" />
      </div>
    </div>
    <div class="row" style="margin: 10px 0;">
      <div class="d-flex w-100" style="flex-direction: column;">
        <label for="description" class="font-semibold">
          Mô tả
        </label>
        <input pInputText [(ngModel)]="description" id="description" class="flex-auto" autocomplete="off" />
      </div>
    </div>
    <div class="row" style="margin: 10px 0;">
      <div class="d-flex w-100" style="flex-direction: column;">
        <label for="contact" class="font-semibold">
          Liên hệ
        </label>
        <input pInputText [(ngModel)]="contact" id="contact" class="flex-auto" autocomplete="off" />
      </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button 
            label="Hủy" 
            [text]="true" 
            severity="secondary" 
            (onClick)="visible = false" />
        <p-button 
            label="Thêm" 
            [outlined]="true" 
            severity="success" 
            (onClick)="addBooth()"
          />
    </ng-template>
</p-dialog>

<p-dialog 
  header="Header" 
  [(visible)]="visibleEdit" 
  [modal]="true" >
    <ng-template pTemplate="header">
        <h3>Sửa sản phẩm</h3>
    </ng-template>
    <div class="row" style="margin: 10px 0;">
      <div class="d-flex w-100" style="flex-direction: column;">
        <label for="parentId" class="font-semibold">
          Chọn ảnh
        </label>
        <input accept="image/*" type="file" name="" id="" (change)="uploadEditImageProduct($event)">
      </div>
    </div>
    <div class="row" style="margin: 10px 0;">
      <div class="d-flex w-100" style="flex-direction: column;">
        <label for="nameEdit" class="font-semibold">
          Tên sản phẩm
        </label>
        <input pInputText [(ngModel)]="nameEdit" id="nameEdit" class="flex-auto" autocomplete="off" />
      </div>
    </div>
    <div class="row" style="margin: 10px 0;">
      <div class="d-flex w-100" style="flex-direction: column;">
        <label for="descriptionEdit" class="font-semibold">
          Mô tả
        </label>
        <input pInputText [(ngModel)]="descriptionEdit" id="descriptionEdit" class="flex-auto" autocomplete="off" />
      </div>
    </div>
    <div class="row" style="margin: 10px 0;">
      <div class="d-flex w-100" style="flex-direction: column;">
        <label for="contactEdit" class="font-semibold">
          Liên hệ
        </label>
        <input pInputText [(ngModel)]="contactEdit" id="contactEdit" class="flex-auto" autocomplete="off" />
      </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button 
            label="Hủy" 
            [text]="true" 
            severity="secondary" 
            (onClick)="visible = false" />
        <p-button 
            label="Sửa" 
            [outlined]="true" 
            severity="success" 
            (onClick)="updateBooth()"
          />
    </ng-template>
</p-dialog>