<div class="container-fluid bg-white border-top py-4">
  <div class="row text-md-left" style="padding: 0 50px 20px 50px; margin: 0;">
    <!-- Hỗ trợ khách hàng -->
    <div class="col-md-2 mb-3">
      <h5 class="fw-bold">Hỗ trợ khách hàng</h5>
      <ul class="list-unstyled"  style="list-style: none;">
        <li><a style="text-decoration: none; color: #2a3547;" href="tel:0967364999" target="_blank" rel="noopener noreferrer">Hotline: 0967364999</a></li>
        <li><a style="text-decoration: none; color: #2a3547;" href="https://zalo.me/g/hcwaid814" target="_blank" rel="noopener noreferrer">Zalo hỗ trợ chung</a></li>
        <li>Hướng dẫn sử dụng</li>
      </ul>
    </div>

    <!-- Về Elite Life -->
    <div class="col-md-2 mb-3">
      <h5 class="fw-bold">Về Elite Life</h5>
      <ul class="list-unstyled" style="list-style: none;">
        <li>Về chúng tôi</li>
        <li>Văn hóa Elite</li>
        <li>Cơ sở pháp lý</li>
        <li>Hợp đồng đại lý</li>
        <li>Chính sách kinh doanh</li>
      </ul>
    </div>

    <!-- Chứng nhận bởi -->
    <div class="col-md-2 mb-3">
      <h5 class="fw-bold">Chứng nhận bởi</h5>
      <img src="assets/elite-live/chungnhan.png" alt="Chứng nhận" class="img-fluid" />
    </div>

    <!-- Phương thức thanh toán -->
    <div class="col-md-3 mb-3">
      <h5 class="fw-bold">Phương thức thanh toán</h5>
      <div>
        <img src="assets/elite-live/momo.png" alt="Momo" class="img-fluid me-2" style="width: 40px;" />
        <img src="assets/elite-live/credit-card.png" alt="Credit Card" class="img-fluid me-2" style="width: 40px;" />
        <img src="assets/elite-live/transfer.png" alt="Transfer" class="img-fluid" style="width: 40px;" />
      </div>
    </div>

    <!-- Kết nối với chúng tôi -->
    <div class="col-md-3 mb-3">
      <h5 class="fw-bold">Kết nối với chúng tôi</h5>
      <div>
        <img src="assets/elite-live/facebook.png" alt="Facebook" class="img-fluid me-2" style="width: 40px;" />
        <img src="assets/elite-live/youtube.png" alt="YouTube" class="img-fluid me-2" style="width: 40px;" />
        <img src="assets/elite-live/zalo.png" alt="Zalo" class="img-fluid" style="width: 40px;" />
      </div>
    </div>
  </div>
</div>
