<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <!-- <button mat-icon-button aria-label="Notifications">
    <i-tabler
      class="d-flex"
      name="bell"
      matBadge="1"
      matBadgeColor="primary"
    ></i-tabler>
  </button> -->

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <a mat-flat-button
    style="background: conic-gradient(from 180deg at 50% 50%, #907C39 109.43986773490906deg, #DBBC56 183.23987245559692deg, #C2A64C 262.4398612976074deg, #F4D160 311.0398578643799deg); color: #fff;"
    color="primary" target="_blank" class="d-flex justify-content-center" (click)="showOrderForm()">
    MUA COMBO
  </a>

  <!-- <a mat-flat-button
  style="background: conic-gradient(from 180deg at 50% 50%, #907C39 109.43986773490906deg, #DBBC56 183.23987245559692deg, #C2A64C 262.4398612976074deg, #F4D160 311.0398578643799deg); color: #fff;"
  color="primary" target="_blank" class="d-flex justify-content-center m-s-10" routerLink="/profile/deposit-withdraw-management">
  NẠP RÚT
</a> -->

  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
    <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover" width="35" />
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <button mat-menu-item routerLink="/profile/order-management">
      <mat-icon class="d-flex align-items-center"><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon>
      Thông tin cá nhân
    </button>
    <!-- <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i-tabler name="mail" class="icon-18 d-flex"></i-tabler></mat-icon>My
      Account
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i-tabler name="list-check"
          class="icon-18 d-flex"></i-tabler></mat-icon>My Task
    </button> -->

    <div class="p-x-12 m-t-12">
      <button (click)="logout()" mat-stroked-button color="primary" class="w-100">Đăng xuất</button>
    </div>
  </mat-menu>
</mat-toolbar>

<!-- Order Form -->
<p-dialog header="Mua combo" [(visible)]="isOrder" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '80vw' }" [draggable]="false" [resizable]="false" [appendTo]="'body'">

  <div class="row my-10">
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 d-flex flex-column w-100 my-10">
      <label for="">Số tiền</label>
      <input type="text" [value]="payed | numberFormat" pInputText [disabled]="true" class="format-input">
    </div>
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 d-flex my-10 flex-column justify-content-start align-items-start">
      <div class="d-flex flex-column w-100">
        <label for="">Số lượng</label>
        <p-inputNumber inputId="integeronly" [(ngModel)]="amountOrder" styleClass="format-input" class="format-input" (ngModelChange)="updateTotalMoney()"/>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex my-10">
      <div class="d-flex flex-column w-100">
        <label for="warehouse">Kho hàng</label>
        <p-dropdown [options]="listWarehouse" [(ngModel)]="selectedWarehouse" placeholder="Chọn kho hàng"
          styleClass="format-input" class="format-input">
        </p-dropdown>
      </div>
    </div>
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 d-flex my-10 flex-column justify-content-start align-items-start">
      <div class="d-flex flex-column w-100">
        <label for="">Số điện thoại nhận hàng</label>
        <input type="text" pInputText [(ngModel)]="mobile" styleClass="format-input" class="format-input"/>
      </div>
    </div>

    <div
      class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 d-flex my-10 flex-column justify-content-start align-items-start">
      <div class="d-flex flex-column w-100">
        <label for="">Địa chỉ nhận hàng</label>
        <input type="text" pInputText [(ngModel)]="address" styleClass="format-input" class="format-input"/>
      </div>
    </div>

    <div
      class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 d-flex my-10 flex-column justify-content-end align-items-end">
      <p-button label="Mua combo" [raised]="true" severity="success" class="m-b-4" (click)="placeOrder()" />
    </div>

  </div>
  <div class="row my-10">

    <div class="col-12 ">
      <h3>Danh sách thanh toán</h3>
      <p-table [value]="orderHistory" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>STT</th>
            <th>Ngày thanh toán</th>
            <th>Số tiền</th>
            <th>Số lượng</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr>
            <td>{{ rowIndex + 1 }}</td> <!-- Số thứ tự -->
            <td>{{ rowData.createdAt | date: 'dd/MM/yyyy' }}</td> <!-- Ngày thanh toán -->
            <td>{{ rowData.payed }}</td> <!-- Số lượng -->
            <td>{{ rowData.amount | number: '1.0-0' }}</td> <!-- Số tiền -->

          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</p-dialog>
