<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title style="color: #B0903E;">Danh sách thành viên</mat-card-title>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title style="color: #B0903E;">Danh sách thành viên ({{totalMember}})</mat-card-title>
          <div class="m-l-auto">
            <p-calendar
              [(ngModel)]="rangeDates"
              selectionMode="range"
              [showIcon]="true"
              [ngStyle]="{'margin-right': '10px'}"
              (onSelect)="onDateChange($event)"
              [readonlyInput]="true" />
            <p-button *ngIf="isPermissionExport" (onClick)="exportExcelCollaboratorTop()" label="Xuất Excel" severity="warning" icon="pi pi-file-export" styleClass="m-0" [outlined]="true" />
          </div>
        </div>
        <div class="">
          <p-table
            #dt2
            [value]="data"
            [paginator]="true"
            [rows]="5"
            [globalFilterFields]="['name', 'userName', 'createdAt', 'rank']"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 20]"
          >
              <ng-template pTemplate="header" style="color: #B0903E;">
                  <tr>
                      <th style="width:5%">Hành động</th>
                      <th style="width:15%">
                        Họ tên
                      </th>
                      <th style="width:10%">Tên đăng nhập</th>
                      <th style="width:15%">Ngày gia nhập</th>
                      <th style="width:5%">Cấp độ</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="name"
                        placeholder=""
                        ariaLabel="Filter Name" />
                    </th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="userName"
                        placeholder=""
                        ariaLabel="Filter Country" />
                    </th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="createdAt"
                        placeholder=""
                        ariaLabel="Filter Country" />
                    </th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="rank"
                        placeholder=""
                        ariaLabel="Filter Country" />
                    </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer>
                  <tr>
                      <td style="align-items: center;">
                        <i class="pi pi-pen-to-square" *ngIf="editMember" style="color: #B0903E; padding: 0 5px; cursor: pointer;" (click)="showUpdateForm(customer)"></i>
                        <i class="pi pi-trash" style="color: red; padding: 0 5px;cursor: pointer;" (click)="showDialogDelete(customer)"></i>
                        <i class="pi pi-bars" style=" padding: 0 5px;cursor: pointer;" (click)="menu.toggle($event)" (click)="changId(customer)"></i>
                        <p-tieredMenu
                          #menu
                          [model]="items"
                          [popup]="true"
                          appendTo="body"
                          [baseZIndex]="1000">
                        </p-tieredMenu>
                      </td>
                      <td>{{ customer.name }}</td>
                      <td>{{ customer.userName }}</td>
                      <td>{{ customer.createdAt | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                      <td>{{ customer.rank }}</td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title style="color: #B0903E;">Danh sách thành viên lên vip ({{dataUp.length ?? 0}})</mat-card-title>
          <div class="m-l-auto">
            <p-calendar
              [(ngModel)]="rangeDatesUp"
              selectionMode="range"
              [showIcon]="true"
              [ngStyle]="{'margin-right': '10px'}"
              (onSelect)="onDateChangeUp($event)"
              [readonlyInput]="true" />
            <p-button *ngIf="isPermissionExport" (onClick)="exportExcelCollaboratorRank(1)" label="Xuất Excel" severity="warning" icon="pi pi-file-export" styleClass="m-0" [outlined]="true" />
          </div>
        </div>
        <div class="">
          <p-table
            [value]="dataUp"
            [paginator]="true"
            [rows]="5"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 20]"
          >
              <ng-template pTemplate="header" style="color: #B0903E;">
                  <tr>
                      <th style="width:5%">STT</th>
                      <th style="width:15%">
                        Họ tên
                      </th>
                      <th style="width:10%">Tên đăng nhập</th>
                      <th style="width:15%">Ngày gia nhập</th>
                      <th style="width:5%">Cấp độ</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="name"
                        placeholder=""
                        ariaLabel="Filter Name" />
                    </th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="userName"
                        placeholder=""
                        ariaLabel="Filter Country" />
                    </th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="createdAt"
                        placeholder=""
                        ariaLabel="Filter Country" />
                    </th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="rank"
                        placeholder=""
                        ariaLabel="Filter Country" />
                    </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer>
                  <tr>
                      <td style="align-items: center;">
                        {{ customer.position }}
                      </td>
                      <td>{{ customer.name }}</td>
                      <td>{{ customer.userName }}</td>
                      <td>{{ customer.createdAt | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                      <td>{{ customer.rank }}</td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title style="color: #B0903E;">Danh sách thành viên hạ vip ({{dataDown.length ?? 0}})</mat-card-title>
          <div class="m-l-auto">
            <p-calendar
              [(ngModel)]="rangeDatesDown"
              selectionMode="range"
              [ngStyle]="{'margin-right': '10px'}"
              [showIcon]="true"
              (onSelect)="onDateChangeDown($event)"
              [readonlyInput]="true" />
            <p-button *ngIf="isPermissionExport" (onClick)="exportExcelCollaboratorRank(2)" label="Xuất Excel" severity="warning" icon="pi pi-file-export" styleClass="m-0" [outlined]="true" />
          </div>
        </div>
        <div class="">
          <p-table
            [value]="dataDown"
            [paginator]="true"
            [rows]="5"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 20]"
          >
              <ng-template pTemplate="header" style="color: #B0903E;">
                  <tr>
                      <th style="width:5%">STT</th>
                      <th style="width:15%">
                        Họ tên
                      </th>
                      <th style="width:10%">Tên đăng nhập</th>
                      <th style="width:15%">Ngày gia nhập</th>
                      <th style="width:5%">Cấp độ</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="name"
                        placeholder=""
                        ariaLabel="Filter Name" />
                    </th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="userName"
                        placeholder=""
                        ariaLabel="Filter Country" />
                    </th>
                    <th>
                    </th>
                    <th>
                      <p-columnFilter
                        type="text"
                        field="rank"
                        placeholder=""
                        ariaLabel="Filter Country" />
                    </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer>
                  <tr>
                      <td style="align-items: center;">
                        {{ customer.position }}
                      </td>
                      <td>{{ customer.name }}</td>
                      <td>{{ customer.userName }}</td>
                      <td>{{ customer.createdAt | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                      <td>{{ customer.rank }}</td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Xóa thành viên -->
<p-dialog
  header="Header"
  [(visible)]="visible1"
  [modal]="true"
  [style]="{ width: '50rem', height: '50rem' }">
    <ng-template pTemplate="header">
        <h3 style="color: #B0903E;">Vui lòng xác nhận và chuyển nhánh cho các mã bên dưới</h3>
    </ng-template>
    <div class="row w-100">
      <div class="d-flex w-100" style="flex-direction: column;">
        <label for="parentId" class="font-semibold" style="color: #B0903E;">
          Chọn nhánh
        </label>
        <mat-select [formControl]="singleSelectControl" placeholder="Search"  (selectionChange)="onSelectionChange($event)">
          <input class="w-100" type="text" pInputText placeholder="Search" [(ngModel)]="searchTerm" (input)="filterOptions()" />
          <cdk-virtual-scroll-viewport itemSize="50" [style.height.px]="5 * 48">
            <mat-option *cdkVirtualFor="let topping of filteredToppingList" [value]="topping">
              {{ topping.label }}
            </mat-option>
          </cdk-virtual-scroll-viewport>
        </mat-select>
      </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button
            label="Hủy"
            [text]="true"
            severity="secondary"
            (onClick)="visible1 = false" />
        <p-button
            label="Xóa"
            [outlined]="true"
            severity="secondary"
            (onClick)="deleteCollaborator()"
          />
    </ng-template>
</p-dialog>


<!-- Sơ đồ cây  -->

<p-dialog
  header="Header"
  [(visible)]="visibleTree"
  [modal]="true"
  [style]="{ width: '50rem' }">
    <ng-template pTemplate="header">
      <h3 style="color: #B0903E;">Sơ đồ cây hệ thống</h3>
    </ng-template>
    <p-tree [loading]="isLoading" class="w-full md:w-30rem" [value]="tree"  />
</p-dialog>

<!-- Hoa hồng -->
<p-dialog
header="Header"
[(visible)]="visibleCommission"
[modal]="true"
[style]="{ width: '60%'}">
  <ng-template pTemplate="header">
    <h3 style="color: #B0903E;">Chi tiết chi hoa hồng</h3>
  </ng-template>
  <div class="row">
    <p-table
      [value]="listCommission"
      [paginator]="true"
      [rows]="5"
      [(first)]="first"
      [loading]="isLoading"
      [tableStyle]="{ 'min-width': '55%' }"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header" style="color: #B0903E;">
          <tr>
              <th style="width:5%">STT</th>
              <th style="width:10%">Ngày thanh toán</th>
              <th style="width:10%">Số tiền</th>
              <th style="width:25%">Nội dung</th>
              <th style="width:20%">Người nhận hoa hồng</th>
              <th style="width:10%">Mã người nhận hoa hồng</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer let-index="rowIndex">
          <tr>
              <td>{{ first + index + 1 }}</td>
              <td>{{ customer.createdAt | date: 'dd/MM/yyyy' }}</td>
              <td>{{ customer.value | number: '1.0-2' }}</td>
              <td>{{ customer.note }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.userName }}</td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<!-- Nạp tiền -->
<p-dialog
header="Header"
[(visible)]="visibleMoney"
[modal]="true" >
  <ng-template pTemplate="header">
      <h3 style="color: #B0903E;">Nạp tiền</h3>
  </ng-template>
  <div class="row" style="margin: 10px 0;">
    <div class="d-flex w-100" style="flex-direction: column;">
      <label for="money" class="font-semibold" style="color: #B0903E;">
        Số tiền
      </label>
      <input type="number" min="0.1" pInputText [(ngModel)]="money" id="money" class="flex-auto" autocomplete="off" />
    </div>
  </div>
  <div class="row" style="margin: 10px 0;">
    <div class="d-flex w-100" style="flex-direction: column;">
      <label for="note" class="font-semibold">
        Ghi chú
      </label>
      <input pInputText [(ngModel)]="note" id="note" class="flex-auto" autocomplete="off" />
    </div>
  </div>
  <div class="row">
    <p-table
      [value]="listCommission"
      [paginator]="true"
      [rows]="5"
      [(first)]="first"
      [loading]="isLoading"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header" style="color: #B0903E;">
          <tr>
              <th style="width:5%">STT</th>
              <th style="width:10%">Số tiền</th>
              <th style="width:25%">Ghi chú</th>
              <th style="width:10%">Ngày tạo</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer let-index="rowIndex">
          <tr>
              <td>{{ first + index + 1 }}</td>
              <td>{{ customer.value | number: '1.0-2' }}</td>
              <td>{{ customer.note }}</td>
              <td>{{ customer.createdAt | date: 'dd/MM/yyyy' }}</td>
          </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template pTemplate="footer">
      <p-button
          label="Hủy"
          [text]="true"
          severity="secondary"
          (onClick)="visible1 = false" />
      <p-button
          label="Nạp tiền"
          [outlined]="true"
          severity="primary"
          (onClick)="saveMoney()"
        />
  </ng-template>
</p-dialog>

<!-- Cập nhật thông tin thành viên -->

<p-dialog header="Thông tin thành viên" [(visible)]="isUpdate" [modal]="true"
  [style]="{ width: '80vw' }" [draggable]="false" [resizable]="false" [appendTo]="'body'">
  <div class="container">
    <div class="row" >
      <div class="col col-sm-12 col-md-12 col-lg-7 col-xl-7" style="margin-bottom: 30px;">
        <p-card >
          <div class="p-card-header" style="color: #B0903E; margin: 10px 0;">Thông tin cá nhân</div>
          <div class="card w-100">
            <p-tabView>
              <div class="row m-5">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center align-items-center">
                  <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"  class="mr-2" size="xlarge" shape="circle" />
                  <input type="file" accept="image/*" #fileInput style="display: none;" />
                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                  <div class="row m-5 no-gutters justify-content-center align-items-center">
                    <div class="col-4 ">
                      <label for="fullname" class="font-semibold py-3">
                        Họ và tên
                      </label>

                    </div>
                    <div class="col-8">
                      <input class="mt-5 w-100" type="text" pInputText [(ngModel)]="name" />
                    </div>
                  </div>
                  <div class="row m-5 no-gutters justify-content-center align-items-center">
                    <div class="col-4">
                      <label for="fullname" class="font-semibold py-3" >
                        Tên đăng nhập
                      </label>
                    </div>
                    <div class="col-8">
                      <input class="mt-5 w-100" type="text" readonly pInputText [(ngModel)]="userName" />
                    </div>

                  </div>
                </div>
              </div>
              <div class="row m-5">
                <div class="d-flex col-12" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    CMTND/ CCCD/ HC
                  </label>
                  <input class="mt-5" type="text" pInputText [(ngModel)]="identity" />
                </div>
              </div>
              <div class="row m-5">
                <div class="d-flex col-12" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    Số tài khoản
                  </label>
                  <input class="mt-5" type="text" pInputText [(ngModel)]="bankNumber" />
                </div>
              </div>
              <div class="row m-5">
                <div class="d-flex col-12" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    Ngân hàng
                  </label>
                  <p-dropdown [options]="bankOptions" [(ngModel)]="bank" [showClear]="true" [showClear]="true"
                  placeholder="Chọn ngân hàng" [filter]="true" styleClass="format-input mt-5" class="format-input mt-5" />
                </div>
              </div>
              <div class="row m-5">
                <div class="d-flex col-12" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    Ngày cấp
                  </label>
                  <p-calendar [(ngModel)]="identityDate" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                  styleClass="format-input mt-5" class="format-input mt-5" />
                </div>
              </div>
              <div class="row m-5">
                <div class="d-flex col-12" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    Chủ tài khoản
                  </label>
                  <input class="mt-5" type="text" pInputText [(ngModel)]="bankOwner" />
                </div>
              </div>
              <div class="row m-5">
                <div class="d-flex col-12" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    Nơi cấp
                  </label>
                  <input class="mt-5" type="text" pInputText [(ngModel)]="identityPlace" />
                </div>
              </div>
              <div class="row m-5">
                <div class="d-flex col-12" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    Chi nhánh
                  </label>
                  <input class="mt-5" type="text" pInputText [(ngModel)]="bankBranchName" />
                </div>
              </div>
              <div class="row m-5">
                <div class="d-flex col-12 my-25 justify-content-end">
                  <p-button ngClass="format-button" label="Lưu thay đổi" severity="success" class="ms-10" (click)="updateProfile()" />
                </div>
              </div>
            </p-tabView>
          </div>
        </p-card>
      </div>

      <div class=" col col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <p-card>
          <div class="p-card-header" style="color: #B0903E; margin: 10px 0;">Số điện thoại và email</div>
          <div class="card w-100">
            <p-tabView>

              <div class="row justify-content-center align-items-center mt-5">
                <div class="col-1">
                </div>
                <div class="d-flex col-6" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    Số điện thoại
                  </label>
                </div>
                <div class="col-5">
                </div>
              </div>

              <div class="row justify-content-center align-items-center mt-5">
                <div class="col-1">
                  <i class="pi pi-phone"></i>
                </div>
                <div class="d-flex col-6" style="flex-direction: column;">
                  <input class="mt-5" type="text" pInputText [(ngModel)]="phone" />
                </div>
                <div class="col-5">
                  <p-button ngClass="format-button" label="Cập nhật" styleClass="m-0" [outlined]="true" (click)="updatePhoneNumber()" />
                </div>
              </div>

              <div class="row justify-content-center align-items-center mt-5">
                <div class="col-1">
                </div>
                <div class="d-flex col-6" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    Địa chỉ Email
                  </label>
                </div>
                <div class="col-5">
                </div>
              </div>

              <div class="row justify-content-center align-items-center mt-5">
                <div class="col-1">
                  <i class="pi pi-envelope"></i>
                </div>
                <div class="d-flex col-6" style="flex-direction: column;">
                  <input class="mt-5" type="text" pInputText [(ngModel)]="email" placeholder="Thêm địa chỉ email" />
                </div>
                <div class="col-5">
                  <p-button class="format-button" label="Cập nhật" styleClass="m-0" [outlined]="true" (click)="updateEmail()" />
                </div>
              </div>
              <mat-card-title style="color: #B0903E; margin: 10px 0;">Bảo mật</mat-card-title>
              <div class="row justify-content-center align-items-center mt-5">
                <div class="col-1">
                  <i class="pi pi-phone"></i>
                </div>
                <div class="d-flex col-6" style="flex-direction: column;">
                  <label for="fullname" class="font-semibold">
                    Đổi mật khẩu
                  </label>
                </div>
                <div class="col-5">
                  <p-button class="format-button" label="Cập nhật" styleClass="m-0" [outlined]="true" (click)="showPassordForm()" />
                  <p-dialog  header="Đổi mật khẩu" [(visible)]="isChangePassword" [style]="{ width: '25rem' }">
                    <div class="my-25">
                      <p-floatLabel>
                        <input pInputText id="on_label" [(ngModel)]="newPass" autocomplete="off" class="w-100" />
                        <label for="on_label">Mật khẩu mới</label>
                      </p-floatLabel>
                    </div>
                    <div class="my-25">
                      <p-floatLabel>
                        <input pInputText id="on_label" [(ngModel)]="confirmNewPass" autocomplete="off" class="w-100" />
                        <label for="on_label">Xác nhận mật khẩu mới</label>
                      </p-floatLabel>
                    </div>
                    <div class="d-flex justify-content-end">
                      <p-button class="format-button" label="Hủy" severity="secondary" (click)="closePassordForm()" />
                      <p-button class="format-button" label="Xác nhận" severity="success" class="ms-10" (click)="changePassword()" />
                    </div>
                  </p-dialog>
                </div>
              </div>
            </p-tabView>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</p-dialog>


