<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-8 p-0" *ngIf="!isSmallScreen">
      <img src="/assets/images/elite-live/background-login.jpg" alt="login"
        style="width: 100%; height: 100vh; display: block;" />
    </div>
    <div class="col-lg-4 d-flex align-items-center p-0 justify-content-center">
      <mat-card class="cardWithShadow boxed-auth" style="height: 100%; margin: 0; max-width: none; padding-top: 10%;">
        <mat-card-content style="padding: auto;">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/elite-live/logo-elitelive.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>
          <div class="or-border m-t-30">
            <h1 style="color: #004882;">Đăng ký</h1>
          </div>
          <div class="button_register d-flex justify-content-center">
            <div class="button_regisrer--first">
              <button class="d-flex flex-column">
                <span>1</span>
                <span>Thông tin cá nhân</span>
              </button>
            </div>
            <div class="button_regisrer--second">
              <button class="d-flex flex-column">
                <span>2</span>
                <span>Thông tin ngân hàng</span>
              </button>
            </div>
          </div>

          <form #form="ngForm" class="m-t-30">
            <!-- Họ tên -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Họ và tên <span
                style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput />
            </mat-form-field>

            <!-- Email -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email <span
                style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput />
            </mat-form-field>

            <div class="form-row">
              <div class="form-group">
                <!-- Số điện thoại -->
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Số điện thoại <span
                    style="color: red">*</span></mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="form-group">
                <!-- Người giới thiệu -->
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Người giới thiệu<span
                    style="color: red">*</span></mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput />
                </mat-form-field>
              </div>

            </div>
            <!-- Số CMTND/ CCCD/ Hộ chiếu -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Số CMTND/ CCCD/ Hộ chiếu<span
                style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput />
            </mat-form-field>

            <div class="form-row">
              <div class="form-group">
                <!-- Nơi cấp -->
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nơi cấp<span
                    style="color: red">*</span></mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="form-group">
                <!-- Ngày cấp -->
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Ngày cấp<span
                    style="color: red">*</span></mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput />
                </mat-form-field>
              </div>
            </div>

            <!-- Mật khẩu -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Mật khẩu <span
                style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>

            <!-- Xác nhận mật khẩu -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Xác nhận mật khẩu <span
                style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [type]="hideComfirmPassword ? 'password' : 'text'" formControlName="password" required>
              <button mat-icon-button matSuffix (click)="hideComfirmPassword = !hideComfirmPassword" type="button">
                <mat-icon>{{ hideComfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>

            <button mat-flat-button style="background-color: #5d87ff; color: white;" class="w-100" (click)="login(form)">
              Tiếp theo
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24">Bạn chưa có tài khoản?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Tạo tài khoản</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
