<mat-toolbar class="topbar">
  <div class="row" routerLinkActive="active"  routerLink="/home">
    <div class="col-12 d-flex align-items-center justify-content-center ">
      <i class="pi pi-arrow-circle-left icon-large" ></i>
    </div>
  </div>
</mat-toolbar>
<div class="" style="padding-top: 16px;">
  <div class="row hoverable">

    <div class="col-4 d-flex align-items-center justify-content-center">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"  class="mr-2" size="large" shape="circle" />
    </div>
    <div class="col-8 p-0" >
      <p>Tài khoản của</p>
          <p><b>{{this.userName}}</b></p>
    </div>
  </div>
  <div class="row hoverable" routerLinkActive="active"  routerLink="/profile/info">
    <div class="col-4 d-flex align-items-center justify-content-center">
      <i class="pi pi-user"></i>
    </div>
    <div class="col-8 p-0">
      <p>Thông tin tài khoản</p>
    </div>
  </div>
  <div class="row hoverable" routerLinkActive="active" routerLink="/profile/order-management">
    <div class="col-4 d-flex align-items-center justify-content-center">
      <i class="pi pi-user"></i>
    </div>
    <div class="col-8 p-0">
      <p>Quản lý đơn hàng</p>
    </div>
  </div>
  <div class="row hoverable" routerLinkActive="active" routerLink="/profile/deposit-withdraw-management">
    <div class="col-4 d-flex align-items-center justify-content-center">
      <i class="pi pi-wallet"></i>
    </div>
    <div class="col-8 p-0">
      <p>Quản lý nạp rút</p>
    </div>
  </div>
  <div class="row hoverable">
    <div class="col-4 d-flex align-items-center justify-content-center">
      <i class="pi pi-sign-out"></i>
    </div>
    <div class="col-8 p-0" routerLink="/authentication/login">
      <p>Đăng xuất</p>
    </div>
  </div>
</div>


