<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title style="color: #004882;">Cây nhị phân</mat-card-title>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="card flex justify-content-center">
  <p-progressSpinner *ngIf="isLoading" ariaLabel="loading" />
</div>
<div class="row" *ngIf="!isLoading">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="card flex justify-content-center org-chart-container">
          <p-organizationChart [value]="data" [collapsible]="true">
              <ng-template let-node pTemplate="default">
                  <div class="text-center node-custom">
                      <div class="node-content">
                          {{ node.label }}
                      </div>
                  </div>
              </ng-template>
          </p-organizationChart>
          <!-- <p-organizationChart [value]="data" /> -->
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>